<html>

<head></head>

<body>
    <table class="wrapper"
        style="border-collapse: collapse; table-layout: fixed; min-width: 320px; width: 100%; background-color: rgb(250, 250, 250); --darkreader-inline-bgcolor: #1b1d1e;"
        cellpadding="0" cellspacing="0" role="presentation" data-darkreader-inline-bgcolor="">
        <tbody>
            <tr>
                <td>
                    <div role="banner">
                        <div class="preheader"
                            style="Margin: 0 auto;max-width: 560px;min-width: 280px; width: 280px;width: calc(28000% - 167440px);">
                            <div style="border-collapse: collapse;display: table;width: 100%;">
                                <div class="snippet"
                                    style="display: table-cell; float: left; font-size: 12px; line-height: 19px; max-width: 280px; min-width: 140px; width: calc(14000% - 78120px); padding: 10px 0px 5px; color: rgb(194, 194, 194); font-family: Lato, Tahoma, sans-serif; --darkreader-inline-color: #c1bcb4;"
                                    data-darkreader-inline-color="">
                                </div>
                                <div class="webversion"
                                    style="display: table-cell; float: left; font-size: 12px; line-height: 19px; max-width: 280px; min-width: 139px; width: calc(14100% - 78680px); padding: 10px 0px 5px; text-align: right; color: rgb(194, 194, 194); font-family: Lato, Tahoma, sans-serif; --darkreader-inline-color: #c1bcb4;"
                                    data-darkreader-inline-color="">
                                </div>
                            </div>
                        </div>
                        <div class="header"
                            style="Margin: 0 auto;max-width: 600px;min-width: 320px; width: 320px;width: calc(28000% - 167400px);"
                            id="emb-email-header-container">
                            <div class="logo emb-logo-margin-box"
                                style="font-size: 26px; line-height: 32px; margin: 6px 20px 20px; color: rgb(195, 206, 217); font-family: Roboto, Tahoma, sans-serif; --darkreader-inline-color: #c9c4bd;"
                                align="center" data-darkreader-inline-color="">
                                <div class="logo-center" align="center" id="emb-email-header"><img
                                        style="display: block; height: auto; width: 100%; border: 0px; max-width: 141px; --darkreader-inline-border-top: initial; --darkreader-inline-border-right: initial; --darkreader-inline-border-bottom: initial; --darkreader-inline-border-left: initial;"
                                        src="{{Logo}}" alt="" width="141" data-darkreader-inline-border-top=""
                                        data-darkreader-inline-border-right="" data-darkreader-inline-border-bottom=""
                                        data-darkreader-inline-border-left=""></div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="layout one-col fixed-width stack"
                            style="Margin: 0 auto;max-width: 600px;min-width: 320px; width: 320px;width: calc(28000% - 167400px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;">
                            <div class="layout__inner"
                                style="border-collapse: collapse; display: table; width: 100%; background-color: rgb(250, 250, 250); --darkreader-inline-bgcolor: #1b1d1e;"
                                data-darkreader-inline-bgcolor="">
                                <div class="column"
                                    style="text-align: left; color: rgb(89, 89, 89); font-size: 14px; line-height: 21px; font-family: Lato, Tahoma, sans-serif; --darkreader-inline-color: #b0a99f;"
                                    data-darkreader-inline-color="">
                                    <div style="Margin-left: 20px;Margin-right: 20px;Margin-top: 24px;">
                                        <div style="mso-line-height-rule: exactly;line-height: 5px;font-size: 1px;">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div style="Margin-left: 20px;Margin-right: 20px;">
                                        <div
                                            style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
                                            <h1 class="size-24"
                                                style="margin-top: 0px; margin-bottom: 0px; font-style: normal; font-weight: normal; color: rgb(184, 189, 201); font-size: 20px; line-height: 28px; text-align: left; --darkreader-inline-color: #c1bbb3;"
                                                lang="x-size-24" data-darkreader-inline-color=""><span
                                                    style="text-decoration: inherit; color: rgb(134, 144, 168); --darkreader-inline-color: #a69f93;"
                                                    data-darkreader-inline-color="">Dear {{BusinessName}},</span></h1>
                                            <p class="size-17"
                                                style="Margin-top: 20px;Margin-bottom: 20px;font-size: 17px;line-height: 26px;"
                                                lang="x-size-17"><span style="text-decoration: inherit;">
                                                    I hope you're doing well.
                                                    <br />
                                                    <br />
                                                    I would like to reserve a table at your {{BusinessType}} for the
                                                    following:
                                                </span>
                                            </p>
                                            <ul>
                                                <li><strong>Name:</strong>&nbsp;&nbsp;{{CustomerName}}</li>
                                                <li><strong>Date/Time:</strong>&nbsp;&nbsp;
                                                    {{CheckInDate}}
                                                </li>
                                                <li><strong>Number of Guests:</strong>&nbsp;&nbsp;
                                                    {{NumberOfGuests}}
                                                </li>
                                                <li><strong>Booking Reference:</strong>&nbsp;&nbsp;
                                                    {{BookingID}}
                                                </li>

                                                <!-- Occasion (if any): [e.g., Birthday, Anniversary, Business Meeting –
                                                optional]
                                                Special Requests: [e.g., Outdoor seating, High chair, Vegan options,
                                                etc. – optional] -->

                                            </ul>
                                            <p class="size-17"
                                                style="Margin-top: 20px;Margin-bottom: 20px;font-size: 17px;line-height: 26px;"
                                                lang="x-size-17"><span style="text-decoration: inherit;">
                                                    Please confirm the availability at your earliest convenience. If you
                                                    require any further details, feel free to let me know.
                                                </span>
                                            </p>

                                        </div>
                                    </div>
                                    <div style="Margin-left: 20px;Margin-right: 20px;">
                                        <div style="mso-line-height-rule: exactly;line-height: 20px;font-size: 1px;">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div style="Margin-left: 20px;Margin-right: 20px;">
                                        <div style="mso-line-height-rule: exactly;line-height: 20px;font-size: 1px;">
                                            &nbsp;</div>
                                    </div>
                                    <div style="Margin-left: 20px;Margin-right: 20px;Margin-bottom: 24px;">
                                        <div
                                            style="mso-line-height-rule: exactly;mso-text-raise: 11px;vertical-align: middle;">
                                            <p class="size-17"
                                                style="Margin-top: 0;Margin-bottom: 0;font-size: 17px;line-height: 26px;"
                                                lang="x-size-17">
                                                Thank you, and I look forward to your confirmation.
                                            </p>
                                            <p class="size-17"
                                                style="Margin-top: 20px;Margin-bottom: 0;font-size: 17px;line-height: 26px;"
                                                lang="x-size-17">Best regards,<br>
                                                <strong>{{CustomerName}}</strong><br>
                                                <a style="text-decoration: underline; transition: opacity 0.1s ease-in 0s; color: rgba(65, 105, 225, 1); --darkreader-inline-color: #4169E1;"
                                                    href="tel:{{PhoneNumber}}" lang="en" target="_blank"
                                                    data-darkreader-inline-color="">
                                                    {{CustomerEmail}}
                                                </a><br />
                                                <a style="text-decoration: underline; transition: opacity 0.1s ease-in 0s; color: rgba(65, 105, 225, 1); --darkreader-inline-color: #4169E1;"
                                                    href="mailto:{{EmailAddress}}" lang="en" target="_blank"
                                                    data-darkreader-inline-color="">
                                                    {{CustomerPhone}}
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="mso-line-height-rule: exactly;line-height: 20px;font-size: 20px;">&nbsp;</div>
                    </div>
                    <div role="contentinfo">
                        <div style="line-height:4px;font-size:4px;" id="footer-top-spacing">&nbsp;</div>
                        <div class="layout email-flexible-footer email-footer"
                            style="Margin: 0 auto;max-width: 600px;min-width: 320px; width: 320px;width: calc(28000% - 167400px);overflow-wrap: break-word;word-wrap: break-word;word-break: break-word;"
                            dir="rtl" id="footer-content">
                            <div class="layout__inner right-aligned-footer"
                                style="border-collapse: collapse;display: table;width: 100%;">
                                <table
                                    style="border-collapse: collapse;table-layout: fixed;display: inline-block;width: 439px;"
                                    cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="column js-footer-additional-info"
                                                    style="text-align: right; font-size: 12px; line-height: 19px; color: rgba(65, 105, 225, 1); font-family: Lato, Tahoma, sans-serif; width: 439px; --darkreader-inline-color: #4169E1;"
                                                    dir="ltr" data-darkreader-inline-color="">
                                                    <div
                                                        style="margin-left: 0;margin-right: 0;Margin-top: 10px;Margin-bottom: 10px;">
                                                        <div class="email-footer__additional-info"
                                                            style="font-size: 12px;line-height: 19px;margin-bottom: 15px;">
                                                            <span>
                                                                <a style="text-decoration: underline; transition: opacity 0.1s ease-in 0s; color: rgba(65, 105, 225, 1); --darkreader-inline-color: #4169E1;"
                                                                    href="{{PrivacyPolicyLink}}" lang="en"
                                                                    target="_blank" data-darkreader-inline-color="">
                                                                    Privacy Policy
                                                                </a>
                                                                &nbsp;&nbsp;|&nbsp;&nbsp;
                                                            </span>
                                                            <a style="text-decoration: underline; transition: opacity 0.1s ease-in 0s; color: rgba(65, 105, 225, 1); --darkreader-inline-color: #4169E1;"
                                                                href="{{TermsAndConditions}}" lang="en" target="_blank"
                                                                data-darkreader-inline-color="">
                                                                Terms & Conditions
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div style="line-height:40px;font-size:40px;" id="footer-bottom-spacing">&nbsp;</div>
                    </div>

                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>